{% extends "account/base.html" %}
{% load static %}


{% load i18n %}
{% block css_linking_block %}
<link rel="stylesheet" href="{% static '/kamingo/login.css' %}">
{% endblock %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class = "main-head">{% trans "Sign In To Kamingo" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or,
    <a class="btn btn-dark" href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot d-flex justify-content-center">

  <ul class="socialaccount_providers" style="list-style: none">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>



</div>
<div class="login-or d-flex justify-content-center ">{% trans 'or' %}</div>
{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<div class="d-flex justify-content-center" style="padding: 1rem; ">
        <div class="shadow-sm " style="padding: 1rem; background-color: white; width: 25%;">
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
{#  {{ form.as_p }}#}
     <div class="mb-3">
         <p>Username</p>
         <input type="text" class="form-control" id="" placeholder="Vinod" name="{{ form.Username }}">
            </div>
    <div class="mb-3">
        <p>Password</p>
    <input type="password" class="form-control" id="" placeholder="password" name="{{ form.Password }}">
    </div>
<div class="mb-3">
        <label class="form-check-label" for="defaultCheck1">
    Remember Me:
  </label>
    <input class="form-check-input" type="checkbox" name="{{ form.Remember }}" id="defaultCheck1">
</div>

    <div class="mb-3">

  {% if redirect_field_value %}
  <input  type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

  {% endif %}
    </div>
    <div class="mb-3">

  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
<div class="mb-3 d-flex justify-content-center">

  <button class="btn btn-outline-primary primaryAction" type="submit">{% trans "Sign In" %}</button>
    </div>
</form>
        </div>
</div>
{% endblock %}
