<div class="row  shadow-sm " style="background-color: white; width: 100%">
    <div class="col-md-6 " style="margin-left: 5rem;">
     <h5> Reviews </h5>
    </div>

</div>
{% for review in service.reviews.all%}
<div class="row shadow-sm mb-2" style="background-color: white; width: 100%;" >
    <div class = "col-md-6 " style="margin-left: 5rem;width: fit-content" >

        <div class="row ">
                    <div class=" col-md-6 w-auto ">
                        <i class='fa fa-user-circle' style="font-size: 2rem;"></i>
                    </div>
                    <div class=" col-md-6 w-auto p-0">
                        {{ review.user.username  }}
                    </div>
        </div>
        <div class="row">


                <p class="mb-0"><i class="fas fa-star" style="color: orange"></i>
                            {{ review.rating | floatformat:1 }}</p>


        </div>
        <div class="row ">

            <p style="color: gray; font-size: 10px;" >
                REVIEWED ON {{ review.date_added | date:'d-m-Y' }}
            </p>


        </div>
        <div class="row">
            <div class="col-md-6" >
                  <p class="">
                {{ review.content }}
            </p>
            </div>

        </div>
        </div>


      </ul>



</div>
{% endfor %}