<div class="database">
    <ul>
        <li>
            <div class="" style="" >
                {% if service.image %}
                    <img width="200rem" height="200rem" src="{{ service.image.url }}" alt="">
                {% endif %}
            </div>
        </li>
        <li>
            <h2 style="text-align: center;">{{ service.title }}</h2>
        </li>
        <h5>Cost</h5>
        <li>{{ service.cost }}</li>
        <h5>Address</h5>
        <li>{{ service.address }}</li>
        <h5>Contact</h5>
        <li>{{ service.contact }}</li>
        <h5>Rating</h5>
        <li>{{ service.review.rating }}</li>
        <li>  <a class="btn btn-success" href="{% url 'service-detail-page' service.pk %} "> view </a> </li>

    </ul>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ service.title }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ service.cost }}
        </div>
    <div class="row">
        <div class="col-md-12">
            {{ service.address }}
        </div>
    <div class="row">
        <div class="col-md-12">
            {{ service.contact }}
        </div>
    </div>
</div> -->