<div class="database">
    <ul>
        <h2>Title</h2>
        <li>{{ service.title }}</li>
        <h5>Cost</h5>
        <li>{{ service.cost }}</li>
        <h5>Address</h5>
        <li>{{ service.address }}</li>
        <h5>Contact</h5>
        <li>{{ service.contact }}</li>
    </ul>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ service.title }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ service.cost }}
        </div>
    <div class="row">
        <div class="col-md-12">
            {{ service.address }}
        </div>
    <div class="row">
        <div class="col-md-12">
            {{ service.contact }}
        </div>
    </div>
</div> -->