{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% block title %}

{% endblock %}
{% block css_linking_block %}
    <link rel="stylesheet" href="{% static 'serviceapp/include/service_card.css' %}">
{#    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">#}
{% endblock %}

{% block body %}
    <div>
        <form action="">
          {{ filter.form}}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
<div class="containe" id="contentt">
    <div class="" id="rr">
    <div class="row d-flex justify-content-center" style="width: 100%" >
        {% for service in filter.qs %}

            {% include 'serviceapp/includes/service_card.html' %}

        {% endfor %}
    </div>
    </div>

</div>






<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.js' %}"></script>
{% endblock %}