{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% block title %}

{% endblock %}
{% block css_linking_block %}
    <link rel="stylesheet" href="{% static 'serviceapp/include/service_card.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<a href="/">

    <button class="btn btn-primary mt-3 d-block" type="submit"  > BACK </button>
</a>
    <div class="container ">
        <h2 class="display-1 text-center main-heading">{{ service.title }}</h2>
    <ul class = "d-flex">
        {% comment %} <li> {% endcomment %}
        {% comment %} </li> {% endcomment %}
        <li>
            <div class="iit-img">
                {% if service.image %}
                    <img width="200rem" height="200rem"src="{{ service.image.url }}" alt="">
                {% endif %}
            </div>
        </li>
        <div class="containe detials">

        <h3 class="" >Cost</h3>
        <li>
            {{ service.cost }}</li>
            <h3 class="display" >Address</h3>
        <li>{{ service.address }}</li>
        <h3 class="display" >Contact</h3>
        <li>{{ service.contact }}</li>
        <h3 class="display" >Rating</h3>
        <li>{{ service.get_rating | floatformat:1 }}</li>
{% if user.is_authenticated %}
    {% if not user_review %}
    <form method="POST" action="{% url 'service-detail-page' service.pk %}" novalidate>
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-success" type="submit"  > submit </button>

            </form>

        {% else %}
        <p>already reviewed</p>
{% endif %}
{% else %}
    <p>please login </p>
</div>

{% endif %}
    </ul>

    {% include 'serviceapp/includes/reviews_ratings.html' %}
    

</div>

{% endblock %}