.database{
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: aqua; */
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 2px 3px 7px rgba(2, 0, 0, 0.2);
    margin: 11px;
    min-width: 20rem;
    max-width: 20rem;
    max-height: 20rem;
    min-height: 20rem;
    
    /* width: 1000px; */

}
.database ul li{
margin: 11px;
list-style-type: none;

}
.database ul{
    padding-left: 1rem;
padding-right: 1rem;
}

.data{
    display: flex;
    flex-direction: row;
}
#rr{
    /* display: block; */
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#contentt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.frontkaul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}